html
  head
    title= title

    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fa/font-awesome.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      .col-6.mx-auto.text-center.my-3
        h1 Talenta365 | Start Wars
    
      block content
    